<div class="container body-content">
    <h1>@ViewBag.title</h1>@*pulls from ListController IActionResults Jobs*@
    <h2 class="centered">View Jobs By Category</h2>
</div>

<table class="centeredTable">
    <tr>
        @foreach(var column in ViewBag.columns)
        {
            <th>@column.Value</th>
        }
    </tr>
    <tr>
        <td>@*Sets off each cell in a row*@
            <ul>@*creates unorder list. Makes columns uniformed*@
                <li>@*adds dot next to each list item*@
                 <a asp-controller="List" asp-action="Jobs" asp-route-column="all">ALL JOBS</a>@*gives function to "ALL" column*@
                </li>
            </ul>
        </td>
    
    
        @{
            //TODO #2: Complete the View Jobs By Category Table
        }

        <td></td> @* Feel free to remove or modify this element if necessary. *@
        @*category represents one key/value pair from TableChoices
         dictonary from ListController. It contains the names of the Job fields as keys(employer,etc)*@
            @foreach (var category in ViewBag.tableChoices)
            {
                <td>
                    <ul>
                        @foreach (var item in category.Value)//item represents one entry from the stored list
                        {
                            <li>
                                <a asp-controller="List" asp-action="Jobs" asp-route-column="@category.Key" asp-route-value="@item">@item</a>
                            </li>
                        }
                    </ul>
                </td>
            }
        </tr>
            </table>
